.contacts {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}

.contacts .title {
	align-self: center;

	font-family: Nunito, sans-serif;
	font-size: 40px;
	line-height: 65px;
}

.contacts .options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.contacts .options .form {
	display: flex;
	flex-direction: column;
	align-items: center;	
	
	width: 505px;
	height: 472px;
	
	border: 1px solid #D3DE32;
	box-sizing: border-box;
	border-radius: 20px;
}

.contacts .options .form .textus {
	margin-top: 30px;
	margin-bottom: 21px;
	font-family: Nunito, sans-serif;
	line-height: 33px;
	font-size: 24px;
}

.contacts .options .form form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts .options .form form input {
	width: 458.43px;
	height: 45px;
	margin-top: 15px;
	padding-left: 21.83px;

	border: 1px solid #006A71;
	box-sizing: border-box;
	border-radius: 10px;

	font-size: 14px;
	font-family: Roboto, sans-serif;
}

.contacts .options .form form textarea{
	width: 458.43px;
	height: 121px;
	margin-top: 15px;
	resize: none;

	padding-left: 21.83px;
	padding-top: 15px	;

	border: 1px solid #006A71;
	box-sizing: border-box;
	border-radius: 10px;

	font-family: Roboto, sans-serif;
	font-size: 14px;
}

.contacts .options .form form button {
	width: 167px;
	height: 34px;
	margin-top: 26px;

	background: #006A71;
	border-radius: 10px;

	font-family: Nunito, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	color: #FFF;
	border: 0;
}

.contacts .options .form form button:hover {
	cursor: pointer;
	opacity: 0.9;
}

.contacts .options .location {
	display: flex;
	flex-direction: column;
	height: 600px;
	justify-content: center;
	align-items: center;
}

.contacts .options .location .localization {
	font-family: Nunito, sans-serif;
	font-size: 24px;
	line-height: 33px;

	margin-bottom: 20px;
}

.contacts .options .location .map {
	 width: 616px;
}

.contacts .options .location .socialmedias {
	display: flex;
	justify-content: space-around;
	
	width: 357.5px;
	margin-top: 40px;
}

/* ##### media querys ##### */
@media (max-width: 800px) { 
	.contacts .title {
		font-size: 35px;
	}
	
	.contacts .options .form {
		display: flex;
		flex-direction: column;
		align-items: center;	
		
		width: 380px;
		height: 472px;
		
	}
	
	.contacts .options .form .textus {
		margin-top: 30px;
		font-size: 18px;
	}
	
	.contacts .options .form form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.contacts .options .form form input {
		width: 350px;
	}
	
	.contacts .options .form form textarea{
		width: 350px;
		height: 121px;
		font-size: 14px;
	}
	
	.contacts .options .location {
		display: flex;
		flex-direction: column;
		height: 600px;
		justify-content: center;
		align-items: center;
	}
	
	.contacts .options .location .localization {
		font-size: 18px;
	}
	
	.contacts .options .location .map {
		 width: 350px;
	}
	
	.contacts .options .location .socialmedias {
		display: flex;
		justify-content: space-around;
		
		width: 357.5px;
		margin-top: 40px;
	}
}