#header {
  display: flex;
  width: 100%;
  z-index: 3;
  justify-content: space-between;
  transition: all 0.5s;
  position: fixed;
}

.container {
  align-items: baseline !important;
}

#logoCabecalho {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  width: 90%;
}

@media (max-width: 991px) {
  #logoCabecalho {
    width: 50%;
  }
}
