.group {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	margin-right: 70px;
	
	width: 510px;
	height: 114px;
}
.group .icon {
	display: flex;
	align-self: center;
	justify-content: center;
	align-items: center;

	width: 100px;
	height: 100px;
	border: solid 1px #D3DE32;
	box-sizing: border-box;
	border-radius: 50%;
}
.group .icon img {
	width: 67px;
}

.group .content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 390px;
	height: 100%;
}

.group .content h2 {
	margin-top: 0;
	font-family: Nunito, sans-serif;
	font-weight: bold;
}

.group .content .text {
	height: 63px;
	text-align: left;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	line-height: 21px;
}

/* ##### media querys ##### */
@media (max-width: 800px) { 
	.group {
		margin-top: 40px;
		width: 300px;
		height: 100px;
	}

	.group .icon {
		width: 80px;
		height: 50px;	
		border-radius: 50%;
	}
	.group .icon img {
		width: 33px;
	}
	
	.group .content {
		margin-left: 10px;
		height: 100%;
	}
	
	.group .content h2 {
		margin-top: 0;
		font-family: Nunito, sans-serif;
		font-weight: bold;
		font-size: 18px;
	}
	
	.group .content .text {
		height: 63px;
		font-size: 12px;
		line-height: 20px;
	}
}