.header {
	display: flex;
	width: 100%;
}

.header .cabecalho {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 125px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all .5s;
}

.header .cabecalho .logo {
	margin-left: 20px;
	width: 258px;
	-webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.header .cabecalho ul {
	list-style: none;
	display: flex;
	margin-right: 20px;
}

.header .cabecalho ul li {
	font-size: 35px;
	font-family: Nunito, sans-serif;
	line-height: 65px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-left: 28px;
	color: #FFF;

}

.header .cabecalho ul li:hover {
	cursor: pointer;
	transform: translateY(-2px);
}

.header .cabecalho ul li a {
	text-decoration: none;
	color: #FFF;
}

.header .background {
	margin: 0;
	padding: 0;
	width: 100%;
}

.header .text {
	position: absolute;
	top: 630px;
	left: 60px;
	height: 256px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.header .text span {
	font-family: Nunito, sans-serif;
	width: 100%;
	font-size: 36px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: left;
	color: #FFF;
}

/* ##### media querys ##### */
@media (max-width: 800px) { 
	.header .cabecalho {
		height: 100px;
	}

	.header .cabecalho .logo {
		width: 100px;
	}

	.header .cabecalho ul li {
		font-size: 10px;
	}

	.header .text {
		top: 200px;
		left: 20px;
		height: 156px;
	}
	
	.header .text span {
		font-size: 10px;
	}
 }